@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section-title {
  padding-top: 120px;
  padding-bottom: 90px;
}
.section-title p {
  color: #f94d1c;
  margin-bottom: 5px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.btn-yellow i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-yellow:hover {
  background-color: #c9ae6b;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
  color: #191919;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.btn-transparent i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-transparent:hover {
  background-color: #c8c6be;
}

.btn-black {
  background-color: #191919;
  color: #f8f8f8;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.2s;
}
.btn-black i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-black:hover {
  background-color: #6d6c6c;
}

.btn-round {
  color: #191919;
  border: 1px solid #191919;
  padding: 15px 20px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.btn-round:hover {
  background-color: #c8c6be;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  gap: 70px;
}
header .menu {
  flex: 1;
}
header .menu .topp-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b5b4b4;
  padding-bottom: 5px;
}
header .menu .topp-menu .contact-information {
  display: flex;
  align-items: center;
}
header .menu .topp-menu .contact-information .content-box {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 300;
  padding-right: 20px;
  border-right: 1px solid #b5b4b4;
}
header .menu .topp-menu .contact-information .content-box.last {
  border: none;
}
header .menu .topp-menu .contact-information .content-box i {
  margin-right: 4px;
  color: #4e4e4e;
}
header .menu .topp-menu .social-media a {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #191919;
}
header .menu .topp-menu .social-media a:hover {
  color: #676565;
}
header .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .menu .main-menu .btn-yellow {
  padding-right: 25px;
  padding-left: 25px;
}
header .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 25px;
}
header .menu .main-menu nav a.active {
  text-decoration: underline;
  font-weight: 600;
}
header .menu .main-menu nav a:hover {
  color: #676565;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 70px;
}
.showcase .container .content p {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.showcase .container .content a {
  margin-right: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.showcase .container img {
  margin-right: -50px;
}

.sponsoring .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.sponsoring .container .images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  padding-bottom: 100px;
}
.features .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  outline: 1px solid rgb(208, 207, 207);
  outline-offset: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.features .container .text-and-button {
  margin: auto;
}
.features .container .text-and-button p {
  color: #f94d1c;
}
.features .container .text-and-button h2 {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 40px;
}
.features .container .text-and-button .btn-yellow {
  padding: 15px 150px 15px 150px;
}
.features .container .grid-columns {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-top: 10px;
}
.features .container .grid-columns .business-advice i {
  font-size: 30px;
  padding-bottom: 15px;
}
.features .container .grid-columns .business-advice h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .grid-columns .startup-business i {
  font-size: 30px;
  padding-bottom: 15px;
}
.features .container .grid-columns .startup-business h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .grid-columns .financial-advice {
  padding-top: 20px;
}
.features .container .grid-columns .financial-advice i {
  font-size: 30px;
  padding-bottom: 15px;
}
.features .container .grid-columns .financial-advice h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .grid-columns .risk-management {
  padding-top: 20px;
}
.features .container .grid-columns .risk-management i {
  font-size: 30px;
  padding-bottom: 15px;
}
.features .container .grid-columns .risk-management h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.about-company {
  padding-bottom: 100px;
}
.about-company .container {
  display: flex;
  position: relative;
}
.about-company .container img {
  height: 600px;
  width: 500px;
}
.about-company .container .text {
  background-color: #beebff;
  height: 180px;
  width: 360px;
  position: absolute;
  bottom: 50px;
  left: -30px;
}
.about-company .container .text .samantha {
  display: flex;
  padding-top: 45px;
  padding-left: 30px;
}
.about-company .container .text .samantha h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.about-company .container .text .samantha p {
  color: #f94d1c;
  font-weight: 700;
  font-size: 16px;
  margin-left: 5px;
}
.about-company .container .text #text2 {
  padding-left: 30px;
}
.about-company .container .content {
  padding-top: 60px;
  padding-left: 150px;
}
.about-company .container .content .heading p {
  color: #f94d1c;
  font-size: 18px;
}
.about-company .container .content .heading h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 15px;
}
.about-company .container .content .buttons {
  display: flex;
}
.about-company .container .content .buttons #button-1 {
  padding-top: 70px;
}
.about-company .container .content .buttons #button-1 .btn-black {
  padding: 15px 30px 15px 30px;
}
.about-company .container .content .buttons #button-2 {
  padding-top: 70px;
  padding-left: 30px;
}
.about-company .container .content .buttons p {
  padding-top: 70px;
  padding-left: 20px;
}

.our-services {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 100px;
  height: 800px;
}
.our-services .container img {
  height: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.our-services .container .text p {
  color: #f94d1c;
}
.our-services .container .text h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 40px;
}
.our-services .container .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.our-services .container .content #box-1 {
  background-color: white;
  height: 300px;
  width: 300px;
}
.our-services .container .content #box-1 h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 90px;
  padding-left: 30px;
}
.our-services .container .content #box-1 p {
  padding-left: 30px;
}
.our-services .container .content #box-1 #button-1 {
  padding-top: 40px;
  padding-left: 200px;
}
.our-services .container .content #box-1 #button-1 a {
  background-color: #191919;
  border: none;
}
.our-services .container .content #box-1 #button-1 a i {
  color: white;
}
.our-services .container .content #box-1 #button-1 a:hover {
  background-color: #8f7c4c;
}
.our-services .container .content #box-2 {
  background-color: #F9D783;
  height: 300px;
  width: 300px;
}
.our-services .container .content #box-2 h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 90px;
  padding-left: 30px;
}
.our-services .container .content #box-2 p {
  padding-left: 30px;
}
.our-services .container .content #box-2 #button-2 {
  padding-top: 40px;
  padding-left: 200px;
}
.our-services .container .content #box-2 #button-2 a {
  background-color: white;
}
.our-services .container .content #box-2 #button-2 a:hover {
  background-color: #8f7c4c;
}
.our-services .container .content #box-3 {
  background-color: white;
  height: 300px;
  width: 300px;
}
.our-services .container .content #box-3 h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 90px;
  padding-left: 30px;
}
.our-services .container .content #box-3 p {
  padding-left: 30px;
}
.our-services .container .content #box-3 #button-3 {
  padding-top: 40px;
  padding-left: 200px;
}
.our-services .container .content #box-3 #button-3 a {
  background-color: #191919;
  border: none;
}
.our-services .container .content #box-3 #button-3 a i {
  color: white;
}
.our-services .container .content #box-3 #button-3 a:hover {
  background-color: #8f7c4c;
}
.our-services .container .content #box-4 {
  background-color: white;
  height: 300px;
  width: 300x;
}
.our-services .container .content #box-4 h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 90px;
  padding-left: 30px;
}
.our-services .container .content #box-4 p {
  padding-left: 30px;
}
.our-services .container .content #box-4 #button-4 {
  padding-top: 40px;
  padding-left: 200px;
}
.our-services .container .content #box-4 #button-4 a {
  background-color: #191919;
  border: none;
}
.our-services .container .content #box-4 #button-4 a i {
  color: white;
}
.our-services .container .content #box-4 #button-4 a:hover {
  background-color: #8f7c4c;
}
.our-services .container .button-5 {
  position: absolute;
  top: 85%;
  left: 45%;
}
.our-services .container .button-5 a {
  padding: 15px 20px 15px 20px;
}

.why-choose-us {
  position: relative;
  padding-top: 90px;
  height: 700px;
}
.why-choose-us .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.why-choose-us .container img {
  height: 500px;
  width: 650px;
  position: absolute;
  bottom: 100px;
  right: 230px;
}
.why-choose-us .container .background-box {
  background-color: #F0EFE9;
  width: 1000px;
  height: 400px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.why-choose-us .container .content h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 15px;
  padding-left: 20px;
}
.why-choose-us .container .content p {
  padding-left: 20px;
}
.why-choose-us .container .content .heading h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 40px;
}
.why-choose-us .container .content .heading p {
  color: #f94d1c;
  padding: 0;
}
.why-choose-us .container .content #thumbs-up {
  display: flex;
}
.why-choose-us .container .content #thumbs-up i {
  font-size: 30px;
  padding-right: 20px;
  padding-top: 25px;
}
.why-choose-us .container .content #diamond {
  display: flex;
}
.why-choose-us .container .content #diamond i {
  font-size: 30px;
  padding-top: 25px;
  padding-right: 20px;
}
.why-choose-us .container .content #codepen {
  display: flex;
}
.why-choose-us .container .content #codepen i {
  font-size: 30px;
  padding-top: 25px;
  padding-right: 20px;
}
.why-choose-us .container .content #brain {
  display: flex;
}
.why-choose-us .container .content #brain i {
  font-size: 30px;
  padding-top: 25px;
  padding-right: 20px;
}

.project-and-case-studies .container .section-title {
  text-align: center;
}
.project-and-case-studies .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.project-and-case-studies .container .project-and-cases article img {
  width: 100%;
}
.project-and-case-studies .container .project-and-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(173, 171, 171);
}
.project-and-case-studies .container .project-and-cases article a {
  padding-top: 10px;
  display: block;
  text-align: right;
  color: #191919;
  text-decoration: none;
}
.project-and-case-studies .container .center-content {
  padding-top: 50px;
  padding-bottom: 90px;
}
.project-and-case-studies .container .center-content .btn-black {
  padding: 15px 25px 15px 25px;
}

.meet-our-team {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F9D783;
}
.meet-our-team .container .heading p {
  color: #f94d1c;
}
.meet-our-team .container .heading h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.meet-our-team .container .heading .button {
  padding-left: 1050px;
  margin-top: -45px;
}
.meet-our-team .container .heading .button a {
  padding: 15px 25px 15px 25px;
}
.meet-our-team .container .content {
  padding-top: 80px;
}
.meet-our-team .container .content .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 30px;
}
.meet-our-team .container .content .images img {
  width: 300px;
  height: 400px;
}
.meet-our-team .container .content .text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.meet-our-team .container .content .text h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.meet-our-team .container #dots {
  text-align: center;
  padding-top: 50px;
}

.what-our-clients-say {
  background-color: #F9D783;
  padding-bottom: 120px;
}
.what-our-clients-say .container {
  background-color: white;
}
.what-our-clients-say .container .heading {
  padding-top: 100px;
  text-align: center;
}
.what-our-clients-say .container .heading p {
  color: #f94d1c;
}
.what-our-clients-say .container .heading h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.what-our-clients-say .container .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 80px;
  padding-left: 60px;
}
.what-our-clients-say .container .content .cassandra .star img {
  padding-bottom: 20px;
}
.what-our-clients-say .container .content .cassandra .image-and-text {
  display: flex;
  padding-top: 20px;
}
.what-our-clients-say .container .content .cassandra .image-and-text img {
  height: auto;
  width: auto;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}
.what-our-clients-say .container .content .cassandra .image-and-text .text {
  padding-left: 20px;
  padding-top: 10px;
}
.what-our-clients-say .container .content .cassandra .image-and-text .text h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.what-our-clients-say .container .content .cassandra .image-and-text .text p {
  color: #f94d1c;
}
.what-our-clients-say .container .content .amanda .star img {
  padding-bottom: 20px;
}
.what-our-clients-say .container .content .amanda .image-and-text {
  display: flex;
  padding-top: 20px;
}
.what-our-clients-say .container .content .amanda .image-and-text .text {
  padding-left: 20px;
  padding-top: 10px;
}
.what-our-clients-say .container .content .amanda .image-and-text .text h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.what-our-clients-say .container .content .amanda .image-and-text .text p {
  color: #f94d1c;
}
.what-our-clients-say .container .content .jack .star img {
  padding-bottom: 20px;
}
.what-our-clients-say .container .content .jack .image-and-text {
  display: flex;
  padding-top: 20px;
}
.what-our-clients-say .container .content .jack .image-and-text .text {
  padding-left: 20px;
  padding-top: 10px;
}
.what-our-clients-say .container .content .jack .image-and-text .text h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.what-our-clients-say .container .content .jack .image-and-text .text p {
  color: #f94d1c;
}
.what-our-clients-say .container .center-content {
  padding-top: 80px;
  padding-bottom: 100px;
}

.article-and-news .container {
  padding-bottom: 100px;
  padding-top: 100px;
}
.article-and-news .container .header {
  display: flex;
  align-items: center;
}
.article-and-news .container .header .text h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 50px;
}
.article-and-news .container .header .text p {
  color: #f94d1c;
}
.article-and-news .container .header .button {
  padding-left: 470px;
}
.article-and-news .container .header .button a {
  padding: 15px 20px 15px 20px;
}
.article-and-news .container .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.article-and-news .container .content .article-1 h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.article-and-news .container .content .article-1 img {
  padding-bottom: 20px;
}
.article-and-news .container .content .article-2 h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.article-and-news .container .content .article-2 img {
  padding-bottom: 20px;
}
.article-and-news .container .content .article-3 h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.article-and-news .container .content .article-3 img {
  padding-bottom: 20px;
}

.newsletter {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  padding: 10px 20px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgb(192, 190, 190);
  margin-right: 20px;
}
.newsletter .container form .btn-yellow {
  border: none;
}

footer {
  background-color: #0e1021;
  border-top: 10px solid #b73b3b;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .copyright-text p {
  display: inline;
  color: #f1f1f1;
}
footer .container .social-media a {
  color: #f1f1f1;
  padding-right: 10px;
}