@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section-title {
  padding-top: 120px;
  padding-bottom: 90px;
}
.section-title p {
  color: #f94d1c;
  margin-bottom: 5px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.btn-yellow i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-yellow:hover {
  background-color: #c9ae6b;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
  color: #191919;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.btn-transparent i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-transparent:hover {
  background-color: #c8c6be;
}

.btn-black {
  background-color: #191919;
  color: #f8f8f8;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.2s;
}
.btn-black i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-black:hover {
  background-color: #6d6c6c;
}

.btn-round {
  color: #191919;
  border: 1px solid #191919;
  padding: 15px 20px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.btn-round:hover {
  background-color: #c8c6be;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  gap: 70px;
}
header .menu {
  flex: 1;
}
header .menu .topp-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b5b4b4;
  padding-bottom: 5px;
}
header .menu .topp-menu .contact-information {
  display: flex;
  align-items: center;
}
header .menu .topp-menu .contact-information .content-box {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 300;
  padding-right: 20px;
  border-right: 1px solid #b5b4b4;
}
header .menu .topp-menu .contact-information .content-box.last {
  border: none;
}
header .menu .topp-menu .contact-information .content-box i {
  margin-right: 4px;
  color: #4e4e4e;
}
header .menu .topp-menu .social-media a {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #191919;
}
header .menu .topp-menu .social-media a:hover {
  color: #676565;
}
header .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .menu .main-menu .btn-yellow {
  padding-right: 25px;
  padding-left: 25px;
}
header .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 25px;
}
header .menu .main-menu nav a.active {
  text-decoration: underline;
  font-weight: 600;
}
header .menu .main-menu nav a:hover {
  color: #676565;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 70px;
}
.showcase .container .content p {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.showcase .container .content a {
  margin-right: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.showcase .container img {
  margin-right: -50px;
}

.sponsoring .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.sponsoring .container .images {
  display: flex;
}

.features {
  padding-bottom: 100px;
}
.features .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  outline: 1px solid rgb(208, 207, 207);
  outline-offset: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.features .container .text-and-button {
  margin: auto;
}
.features .container .text-and-button p {
  color: #f94d1c;
}
.features .container .text-and-button h2 {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 40px;
}
.features .container .text-and-button .btn-yellow {
  padding: 15px 150px 15px 150px;
}
.features .container .grid-columns {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-top: 10px;
}
.features .container .grid-columns .business-advice i {
  font-size: 30px;
  padding-bottom: 15px;
}
.features .container .grid-columns .business-advice h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .grid-columns .startup-business i {
  font-size: 30px;
  padding-bottom: 15px;
}
.features .container .grid-columns .startup-business h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .grid-columns .financial-advice {
  padding-top: 20px;
}
.features .container .grid-columns .financial-advice i {
  font-size: 30px;
  padding-bottom: 15px;
}
.features .container .grid-columns .financial-advice h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .grid-columns .risk-management {
  padding-top: 20px;
}
.features .container .grid-columns .risk-management i {
  font-size: 30px;
  padding-bottom: 15px;
}
.features .container .grid-columns .risk-management h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.about-company .container {
  display: flex;
  position: relative;
}
.about-company .container img {
  height: 600px;
  width: 500px;
}
.about-company .container .text {
  background-color: #beebff;
  height: 180px;
  width: 360px;
  position: absolute;
  bottom: 50px;
  left: -30px;
}
.about-company .container .text .samantha {
  display: flex;
  padding-top: 45px;
  padding-left: 30px;
}
.about-company .container .text .samantha h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.about-company .container .text .samantha p {
  color: #f94d1c;
  font-weight: 700;
  font-size: 16px;
  margin-left: 5px;
}
.about-company .container .text #text2 {
  padding-left: 30px;
}
.about-company .container .content {
  padding-top: 60px;
  padding-left: 150px;
}
.about-company .container .content .heading p {
  color: #f94d1c;
  font-size: 18px;
}
.about-company .container .content .heading h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 15px;
}
.about-company .container .content .buttons {
  display: flex;
}
.about-company .container .content .buttons #button-1 {
  padding-top: 70px;
}
.about-company .container .content .buttons #button-1 .btn-black {
  padding: 15px 30px 15px 30px;
}
.about-company .container .content .buttons #button-2 {
  padding-top: 70px;
  padding-left: 30px;
}
.about-company .container .content .buttons p {
  padding-top: 70px;
  padding-left: 20px;
}

.project-and-case-studies .container .section-title {
  text-align: center;
}
.project-and-case-studies .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.project-and-case-studies .container .project-and-cases article img {
  width: 100%;
}
.project-and-case-studies .container .project-and-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(173, 171, 171);
}
.project-and-case-studies .container .project-and-cases article a {
  padding-top: 10px;
  display: block;
  text-align: right;
  color: #191919;
  text-decoration: none;
}
.project-and-case-studies .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.newsletter {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  padding: 10px 20px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgb(192, 190, 190);
  margin-right: 20px;
}
.newsletter .container form .btn-yellow {
  border: none;
}

footer {
  background-color: #0e1021;
  border-top: 10px solid #b73b3b;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .copyright-text p {
  display: inline;
  color: #f1f1f1;
}
footer .container .social-media a {
  color: #f1f1f1;
  padding-right: 10px;
}